target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/codestream.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/google-java-format.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_2.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_2.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/tutorial4.iml
.idea/uiDesigner.xml
.idea/vcs.xml
